.c-row_mod { position: relative; }
.c-row_mod .c-row__leftcol { margin-right: 480px; }

.b-author { position: absolute; bottom: 28px; right: 0; width: 425px; }
.b-author .b-author__text { overflow: hidden; font-size: 14px; line-height: 22px; margin-right: 195px; }
.b-author .b-author__pic { position: absolute; top: -48px; right: 45px; width: 127px; height: 127px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; overflow: hidden; }
.b-author .b-author__pic img { display: block; }

.b-overlay { display: none; position: fixed; top: 0; right: 0; left: 0; bottom: 0; z-index: 20000; background: black; background: rgba(0, 0, 0, 0.2); text-align: center; overflow: auto; font-size: 0; }
.b-overlay:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }

.b-popup { position: relative; display: inline-block; vertical-align: middle; margin: 115px 0 0; width: 830px; background: #fafafa; font-size: 12px; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; -ms-border-radius: 3px 3px 0 0; -o-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
.b-popup .b-popup__media { position: relative; height: 430px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; text-align: center; color: white; }
.b-popup .b-popup__mediainfo { position: absolute; bottom: 35px; left: 60px; right: 60px; }
.b-popup .b-popup__mediainfo h2 { font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 60px; color: white; line-height: 1; margin-bottom: 25px; }
.b-popup .b-popup__mediainfo p { font-family: Georgia, Times, "Times New Roman", serif; font-size: 18px; font-style: italic; margin: 10px 0 0; line-height: 1.2; }
.b-popup .b-popup__content { margin: 45px 60px; color: #333333; font-family: Georgia, Times, "Times New Roman", serif; font-size: 20px; line-height: 33px; }
.b-popup .b-popup__content p { margin: 35px 0 0; }
.b-popup .b-popup__content p:first-letter { margin-left: 35px; }
.b-popup .b-popup__content blockquote { margin: 40px 0 40px -20px; font-style: italic; border-left: 3px solid #54a966; padding-left: 20px; }

.has-open-popup { overflow: hidden; }
